node_modules/

# scala related
logs
project/metals.sbt
project/project
project/target
target
tmp
.bsp/
.history
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
.bloop
.vscode/
.metals/
build/
.scala_build/
/RUNNING_PID
.settingsz
.DS_Store
/tmp
null